{% extends './base.html' %}
{% load static %}
{% block title %}
<h3 class=" text-center">Django-Chat画面</h3>
{% endblock %}
{% block contents %}
<div class="mesgs">
  <div class="msg_history">
    {% for message in messages %}
      {% if friend == message.sender_name %}
        <div class="incoming_msg">
          <div class="incoming_msg_img"><img src="{{ friend.thumbnail.url }}" alt="sunil"></div>
          <div class="received_msg">
            <div class="received_withd_msg">
              <p>{{message.description}}</p>
              <span class="time_date">{{message.time}}</span>
            </div>
          </div>
        </div>
      {% else %}
        <div class="outgoing_msg">
          <div class="sent_msg">
            <p>{{message.description}}</p>
            <span class="time_date">{{message.time}}</span>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="type_msg">
    <form method="post" class="form-group" id="chat-box">
      {% csrf_token %}
      <div class="input_msg_write">
        <input type="text" class="write_msg" placeholder="メッセージを送信..." name="message" id="msg_field" />
        <button type="submit" class="msg_send_btn" name="send"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
      </div>
    </form>
  </div>
</div>
{% endblock %}